.vscode/**
.vscode-test/**
.idea/**
out/**
node_modules/**
src/**
@types/**
.gitignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
package-lock.json
yarn.lock
*.vsix
